*{
    padding: 0;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1{
    padding-bottom: 2rem;
}

form{
    padding: 2rem;
}
.container{
    padding: 0 12rem;
}
.form-group{
    padding:2rem;
}
input{
    position: relative;
}
.icon-check,
.icon-error{
    position: absolute;
    right: 2rem;
    top: 1rem;
}
.icon-error{
    color: #ff0000;
}

.input-password .icon-error,
.new-password .icon-error{
    top: 3rem;
}
.icon-check{
    color: #008000;
}
.error{
    border:1px solid #ff0000!important;
}
.alert{
    color: #ff0000;
}
.progress{
    margin-top: 10px;
    height:10px;
}
.bar-messages{
    margin-top: -10px;
}
.bebe-cry{
    width: 1.8rem;
}
#enviar{
    margin-left: 45%;
    margin-bottom: 2rem;
}

@media (max-width: 760px) {
    .container{
        padding: 0;
    }
    #enviar{
        left: 40%;
    }

}